<footer class="object-none object-bottom text-gray-600 body-font">
 <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a  href="https://www.linkedin.com/in/sumitgupta6411" target="_blank" class="flex title-font font-medium items-center md:justify-center justify-center text-gray-900">
      <span class="ml-1 text-xl">Made with <span>â¤</span> by Sumit Gupta</a></span>
    </a>
  </div>
</footer>